

 h1 { 
   position:absolute; 
   top: 50%;
   left: 50%;
   width: 100%;
   transform: tranlate(-50%, -50%);
   text-align: center;
   margin: 0;
   padding: 0;
   font-family: 'Raleway Dots', cursive;
   font-size: 100px;
   color:  #611adb;
   z-index: 9999; 
  }
h1 span {
  text-align: right;
  // position: relative;
  // display: inline-block;
  animation: animate 1.5% linear infinite;
}
@keyframes animate{
  0%{
    transform: translateY(0px);
  }
   10%{
    transform: translateY(-30px);
  } 
  15%{
    transform: translateY(0px);
  } 25%{
    transform: translateY(-20px);
  } 30%{
    transform: translateY(0px);
  } 40%{
    transform: translateY(0px);
  }
  40%{
    transform: translateY(-10px);
  }
  45%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(0px);
  }
}
@for $i from 1 through 60{
  @keyframes particle-animation-#{$i}{
  100% {
    transform: translate3d((random(90) * 1vw), (random(90)*1vw), (random(100)*1px));

  }
}
.particle:nth-child(#{$i}){

  animation: particle-animation-#{$i} 5s infinite;
  $size: random(10) + 5 + px;
 
  height: $size;
  width: $size;
  opacity: random(100)/100;
  animation-delay: -$i * .2s;
  
  background: hsl(random(360), 70%, 50%);
  transform: translate3d((random(90) * 1vw), (random(90)*1vw), (random(100)*1px));


}
.square:nth-child(#{$i}){

  animation: particle-animation-#{$i} 5s infinite;
  $size: random(10) + 5 + px;
 
  height: $size;
  width: $size;
  opacity: random(100)/100;
  animation-delay: -$i * .2s;
  
  background: hsl(random(360), 70%, 50%);
  transform: translate3d((random(90) * 1vw), (random(90)*1vw), (random(100)*1px));


}

}

.particle {
  position: absolute;

  border-radius: 50%;


}
.square {
  position: absolute;

   width: 100px; 
   height: 100px;

}
