h1 {
  position: absolute;
  transform: tranlate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Raleway Dots", cursive;
  font-size: 100px;
  color: #611adb;
  z-index: 9999;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(66vw, 14vw, 36px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.77;
  animation-delay: -0.2s;
  background: #97d926;
  transform: translate3d(15vw, 23vw, 39px);
}

.square:nth-child(1) {
  animation: particle-animation-1 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.21;
  animation-delay: -0.2s;
  background: #cdd926;
  transform: translate3d(9vw, 31vw, 51px);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(65vw, 42vw, 42px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.63;
  animation-delay: -0.4s;
  background: #d93b26;
  transform: translate3d(17vw, 46vw, 43px);
}

.square:nth-child(2) {
  animation: particle-animation-2 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.13;
  animation-delay: -0.4s;
  background: #8ed926;
  transform: translate3d(77vw, 8vw, 30px);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(52vw, 2vw, 97px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.86;
  animation-delay: -0.6s;
  background: #26d9d9;
  transform: translate3d(38vw, 49vw, 86px);
}

.square:nth-child(3) {
  animation: particle-animation-3 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.29;
  animation-delay: -0.6s;
  background: #d95626;
  transform: translate3d(44vw, 16vw, 7px);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(2vw, 46vw, 96px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.52;
  animation-delay: -0.8s;
  background: #26d95c;
  transform: translate3d(35vw, 83vw, 100px);
}

.square:nth-child(4) {
  animation: particle-animation-4 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.28;
  animation-delay: -0.8s;
  background: #7726d9;
  transform: translate3d(47vw, 17vw, 25px);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(77vw, 56vw, 22px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.98;
  animation-delay: -1s;
  background: #d9d926;
  transform: translate3d(27vw, 24vw, 95px);
}

.square:nth-child(5) {
  animation: particle-animation-5 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.67;
  animation-delay: -1s;
  background: #d98826;
  transform: translate3d(37vw, 30vw, 80px);
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(86vw, 48vw, 62px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.11;
  animation-delay: -1.2s;
  background: #d9c126;
  transform: translate3d(46vw, 57vw, 77px);
}

.square:nth-child(6) {
  animation: particle-animation-6 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.69;
  animation-delay: -1.2s;
  background: #cdd926;
  transform: translate3d(60vw, 59vw, 28px);
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(48vw, 88vw, 68px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.99;
  animation-delay: -1.4s;
  background: #d92656;
  transform: translate3d(46vw, 64vw, 3px);
}

.square:nth-child(7) {
  animation: particle-animation-7 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.1;
  animation-delay: -1.4s;
  background: #d95f26;
  transform: translate3d(24vw, 71vw, 45px);
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(80vw, 85vw, 89px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.68;
  animation-delay: -1.6s;
  background: #62d926;
  transform: translate3d(84vw, 61vw, 13px);
}

.square:nth-child(8) {
  animation: particle-animation-8 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.95;
  animation-delay: -1.6s;
  background: #d97726;
  transform: translate3d(66vw, 29vw, 87px);
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(68vw, 90vw, 86px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.36;
  animation-delay: -1.8s;
  background: #26d994;
  transform: translate3d(27vw, 80vw, 78px);
}

.square:nth-child(9) {
  animation: particle-animation-9 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.73;
  animation-delay: -1.8s;
  background: #b5d926;
  transform: translate3d(23vw, 82vw, 78px);
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(60vw, 73vw, 96px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.73;
  animation-delay: -2s;
  background: #d9262f;
  transform: translate3d(30vw, 76vw, 98px);
}

.square:nth-child(10) {
  animation: particle-animation-10 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.86;
  animation-delay: -2s;
  background: #d926c4;
  transform: translate3d(2vw, 66vw, 13px);
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(68vw, 30vw, 75px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.08;
  animation-delay: -2.2s;
  background: #268ed9;
  transform: translate3d(1vw, 55vw, 44px);
}

.square:nth-child(11) {
  animation: particle-animation-11 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.32;
  animation-delay: -2.2s;
  background: #53d926;
  transform: translate3d(26vw, 38vw, 67px);
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(54vw, 49vw, 18px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.41;
  animation-delay: -2.4s;
  background: #77d926;
  transform: translate3d(59vw, 28vw, 14px);
}

.square:nth-child(12) {
  animation: particle-animation-12 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.44;
  animation-delay: -2.4s;
  background: #4126d9;
  transform: translate3d(62vw, 17vw, 95px);
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(72vw, 32vw, 23px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.33;
  animation-delay: -2.6s;
  background: #d94a26;
  transform: translate3d(16vw, 78vw, 95px);
}

.square:nth-child(13) {
  animation: particle-animation-13 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.53;
  animation-delay: -2.6s;
  background: #50d926;
  transform: translate3d(33vw, 2vw, 33px);
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(46vw, 27vw, 20px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.06;
  animation-delay: -2.8s;
  background: #2680d9;
  transform: translate3d(4vw, 32vw, 94px);
}

.square:nth-child(14) {
  animation: particle-animation-14 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.31;
  animation-delay: -2.8s;
  background: #26d926;
  transform: translate3d(33vw, 39vw, 86px);
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(17vw, 18vw, 10px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.7;
  animation-delay: -3s;
  background: #2691d9;
  transform: translate3d(6vw, 86vw, 46px);
}

.square:nth-child(15) {
  animation: particle-animation-15 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.4;
  animation-delay: -3s;
  background: #d9262c;
  transform: translate3d(75vw, 40vw, 77px);
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(28vw, 6vw, 26px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.41;
  animation-delay: -3.2s;
  background: #2626d9;
  transform: translate3d(55vw, 71vw, 37px);
}

.square:nth-child(16) {
  animation: particle-animation-16 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.34;
  animation-delay: -3.2s;
  background: #268bd9;
  transform: translate3d(85vw, 73vw, 78px);
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(44vw, 67vw, 45px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.39;
  animation-delay: -3.4s;
  background: #d94d26;
  transform: translate3d(57vw, 80vw, 84px);
}

.square:nth-child(17) {
  animation: particle-animation-17 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.45;
  animation-delay: -3.4s;
  background: #d9263b;
  transform: translate3d(43vw, 37vw, 32px);
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(1vw, 43vw, 41px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.66;
  animation-delay: -3.6s;
  background: #26d9a0;
  transform: translate3d(25vw, 73vw, 23px);
}

.square:nth-child(18) {
  animation: particle-animation-18 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.56;
  animation-delay: -3.6s;
  background: #4dd926;
  transform: translate3d(67vw, 66vw, 9px);
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(15vw, 81vw, 49px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.36;
  animation-delay: -3.8s;
  background: #26d9cd;
  transform: translate3d(24vw, 44vw, 79px);
}

.square:nth-child(19) {
  animation: particle-animation-19 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.52;
  animation-delay: -3.8s;
  background: #d92697;
  transform: translate3d(48vw, 61vw, 8px);
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(77vw, 58vw, 87px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.9;
  animation-delay: -4s;
  background: #2f26d9;
  transform: translate3d(69vw, 85vw, 33px);
}

.square:nth-child(20) {
  animation: particle-animation-20 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.36;
  animation-delay: -4s;
  background: #d92665;
  transform: translate3d(81vw, 77vw, 54px);
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(58vw, 65vw, 42px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.71;
  animation-delay: -4.2s;
  background: #d9a926;
  transform: translate3d(52vw, 76vw, 1px);
}

.square:nth-child(21) {
  animation: particle-animation-21 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.86;
  animation-delay: -4.2s;
  background: #d926a3;
  transform: translate3d(9vw, 27vw, 22px);
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(79vw, 66vw, 57px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.26;
  animation-delay: -4.4s;
  background: #26d9d3;
  transform: translate3d(81vw, 90vw, 43px);
}

.square:nth-child(22) {
  animation: particle-animation-22 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.77;
  animation-delay: -4.4s;
  background: #2682d9;
  transform: translate3d(53vw, 77vw, 51px);
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(65vw, 70vw, 24px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.63;
  animation-delay: -4.6s;
  background: #264dd9;
  transform: translate3d(25vw, 63vw, 67px);
}

.square:nth-child(23) {
  animation: particle-animation-23 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.38;
  animation-delay: -4.6s;
  background: #5326d9;
  transform: translate3d(82vw, 15vw, 52px);
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(75vw, 49vw, 12px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.48;
  animation-delay: -4.8s;
  background: #d926a9;
  transform: translate3d(34vw, 8vw, 77px);
}

.square:nth-child(24) {
  animation: particle-animation-24 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.93;
  animation-delay: -4.8s;
  background: #7a26d9;
  transform: translate3d(44vw, 29vw, 1px);
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(82vw, 75vw, 55px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.16;
  animation-delay: -5s;
  background: #d926d6;
  transform: translate3d(25vw, 73vw, 66px);
}

.square:nth-child(25) {
  animation: particle-animation-25 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.92;
  animation-delay: -5s;
  background: #26c4d9;
  transform: translate3d(48vw, 60vw, 43px);
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(69vw, 59vw, 34px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.23;
  animation-delay: -5.2s;
  background: #2fd926;
  transform: translate3d(85vw, 40vw, 59px);
}

.square:nth-child(26) {
  animation: particle-animation-26 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.21;
  animation-delay: -5.2s;
  background: #4ad926;
  transform: translate3d(53vw, 62vw, 36px);
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(69vw, 29vw, 41px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.73;
  animation-delay: -5.4s;
  background: #26d9b2;
  transform: translate3d(6vw, 20vw, 85px);
}

.square:nth-child(27) {
  animation: particle-animation-27 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.14;
  animation-delay: -5.4s;
  background: #26acd9;
  transform: translate3d(37vw, 4vw, 68px);
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(27vw, 54vw, 1px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.82;
  animation-delay: -5.6s;
  background: #26d950;
  transform: translate3d(41vw, 45vw, 76px);
}

.square:nth-child(28) {
  animation: particle-animation-28 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.59;
  animation-delay: -5.6s;
  background: #47d926;
  transform: translate3d(80vw, 13vw, 29px);
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(61vw, 44vw, 59px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.21;
  animation-delay: -5.8s;
  background: #d95926;
  transform: translate3d(70vw, 13vw, 39px);
}

.square:nth-child(29) {
  animation: particle-animation-29 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.78;
  animation-delay: -5.8s;
  background: #d95626;
  transform: translate3d(84vw, 72vw, 98px);
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(19vw, 54vw, 76px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.96;
  animation-delay: -6s;
  background: #c4d926;
  transform: translate3d(16vw, 32vw, 47px);
}

.square:nth-child(30) {
  animation: particle-animation-30 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.45;
  animation-delay: -6s;
  background: #26d968;
  transform: translate3d(79vw, 71vw, 48px);
}

@keyframes particle-animation-31 {
  100% {
    transform: translate3d(40vw, 39vw, 30px);
  }
}
.particle:nth-child(31) {
  animation: particle-animation-31 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.75;
  animation-delay: -6.2s;
  background: #26b8d9;
  transform: translate3d(82vw, 53vw, 62px);
}

.square:nth-child(31) {
  animation: particle-animation-31 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.86;
  animation-delay: -6.2s;
  background: #d926bb;
  transform: translate3d(42vw, 76vw, 66px);
}

@keyframes particle-animation-32 {
  100% {
    transform: translate3d(83vw, 23vw, 19px);
  }
}
.particle:nth-child(32) {
  animation: particle-animation-32 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.92;
  animation-delay: -6.4s;
  background: #32d926;
  transform: translate3d(35vw, 54vw, 99px);
}

.square:nth-child(32) {
  animation: particle-animation-32 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.27;
  animation-delay: -6.4s;
  background: #c726d9;
  transform: translate3d(4vw, 45vw, 84px);
}

@keyframes particle-animation-33 {
  100% {
    transform: translate3d(38vw, 23vw, 57px);
  }
}
.particle:nth-child(33) {
  animation: particle-animation-33 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.87;
  animation-delay: -6.6s;
  background: #26b8d9;
  transform: translate3d(51vw, 17vw, 73px);
}

.square:nth-child(33) {
  animation: particle-animation-33 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.33;
  animation-delay: -6.6s;
  background: #a026d9;
  transform: translate3d(72vw, 38vw, 22px);
}

@keyframes particle-animation-34 {
  100% {
    transform: translate3d(68vw, 15vw, 13px);
  }
}
.particle:nth-child(34) {
  animation: particle-animation-34 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.06;
  animation-delay: -6.8s;
  background: #26d971;
  transform: translate3d(9vw, 89vw, 67px);
}

.square:nth-child(34) {
  animation: particle-animation-34 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.25;
  animation-delay: -6.8s;
  background: #d95f26;
  transform: translate3d(40vw, 22vw, 32px);
}

@keyframes particle-animation-35 {
  100% {
    transform: translate3d(1vw, 83vw, 20px);
  }
}
.particle:nth-child(35) {
  animation: particle-animation-35 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.03;
  animation-delay: -7s;
  background: #9d26d9;
  transform: translate3d(9vw, 39vw, 5px);
}

.square:nth-child(35) {
  animation: particle-animation-35 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.35;
  animation-delay: -7s;
  background: #47d926;
  transform: translate3d(53vw, 50vw, 13px);
}

@keyframes particle-animation-36 {
  100% {
    transform: translate3d(6vw, 32vw, 53px);
  }
}
.particle:nth-child(36) {
  animation: particle-animation-36 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.23;
  animation-delay: -7.2s;
  background: #26d9a9;
  transform: translate3d(31vw, 67vw, 61px);
}

.square:nth-child(36) {
  animation: particle-animation-36 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.25;
  animation-delay: -7.2s;
  background: #d926a0;
  transform: translate3d(65vw, 19vw, 70px);
}

@keyframes particle-animation-37 {
  100% {
    transform: translate3d(43vw, 33vw, 35px);
  }
}
.particle:nth-child(37) {
  animation: particle-animation-37 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.57;
  animation-delay: -7.4s;
  background: #d98826;
  transform: translate3d(45vw, 69vw, 3px);
}

.square:nth-child(37) {
  animation: particle-animation-37 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.86;
  animation-delay: -7.4s;
  background: #26d0d9;
  transform: translate3d(60vw, 1vw, 35px);
}

@keyframes particle-animation-38 {
  100% {
    transform: translate3d(34vw, 8vw, 7px);
  }
}
.particle:nth-child(38) {
  animation: particle-animation-38 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.9;
  animation-delay: -7.6s;
  background: #26cdd9;
  transform: translate3d(26vw, 73vw, 65px);
}

.square:nth-child(38) {
  animation: particle-animation-38 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.16;
  animation-delay: -7.6s;
  background: #26bed9;
  transform: translate3d(40vw, 35vw, 43px);
}

@keyframes particle-animation-39 {
  100% {
    transform: translate3d(29vw, 77vw, 34px);
  }
}
.particle:nth-child(39) {
  animation: particle-animation-39 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.74;
  animation-delay: -7.8s;
  background: #26d926;
  transform: translate3d(76vw, 60vw, 20px);
}

.square:nth-child(39) {
  animation: particle-animation-39 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.33;
  animation-delay: -7.8s;
  background: #8526d9;
  transform: translate3d(84vw, 47vw, 99px);
}

@keyframes particle-animation-40 {
  100% {
    transform: translate3d(13vw, 27vw, 45px);
  }
}
.particle:nth-child(40) {
  animation: particle-animation-40 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.07;
  animation-delay: -8s;
  background: #d626d9;
  transform: translate3d(90vw, 26vw, 81px);
}

.square:nth-child(40) {
  animation: particle-animation-40 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.1;
  animation-delay: -8s;
  background: #ac26d9;
  transform: translate3d(2vw, 72vw, 9px);
}

@keyframes particle-animation-41 {
  100% {
    transform: translate3d(8vw, 41vw, 17px);
  }
}
.particle:nth-child(41) {
  animation: particle-animation-41 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.32;
  animation-delay: -8.2s;
  background: #d9af26;
  transform: translate3d(69vw, 40vw, 30px);
}

.square:nth-child(41) {
  animation: particle-animation-41 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.89;
  animation-delay: -8.2s;
  background: #8526d9;
  transform: translate3d(85vw, 87vw, 89px);
}

@keyframes particle-animation-42 {
  100% {
    transform: translate3d(46vw, 63vw, 20px);
  }
}
.particle:nth-child(42) {
  animation: particle-animation-42 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.1;
  animation-delay: -8.4s;
  background: #26d980;
  transform: translate3d(17vw, 52vw, 21px);
}

.square:nth-child(42) {
  animation: particle-animation-42 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.86;
  animation-delay: -8.4s;
  background: #91d926;
  transform: translate3d(19vw, 58vw, 64px);
}

@keyframes particle-animation-43 {
  100% {
    transform: translate3d(28vw, 88vw, 31px);
  }
}
.particle:nth-child(43) {
  animation: particle-animation-43 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 1;
  animation-delay: -8.6s;
  background: #26d9c4;
  transform: translate3d(56vw, 1vw, 19px);
}

.square:nth-child(43) {
  animation: particle-animation-43 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.38;
  animation-delay: -8.6s;
  background: #62d926;
  transform: translate3d(55vw, 76vw, 49px);
}

@keyframes particle-animation-44 {
  100% {
    transform: translate3d(58vw, 50vw, 52px);
  }
}
.particle:nth-child(44) {
  animation: particle-animation-44 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.12;
  animation-delay: -8.8s;
  background: #d99726;
  transform: translate3d(81vw, 25vw, 65px);
}

.square:nth-child(44) {
  animation: particle-animation-44 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.87;
  animation-delay: -8.8s;
  background: #85d926;
  transform: translate3d(86vw, 3vw, 29px);
}

@keyframes particle-animation-45 {
  100% {
    transform: translate3d(53vw, 40vw, 83px);
  }
}
.particle:nth-child(45) {
  animation: particle-animation-45 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.19;
  animation-delay: -9s;
  background: #d9267a;
  transform: translate3d(64vw, 85vw, 87px);
}

.square:nth-child(45) {
  animation: particle-animation-45 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.37;
  animation-delay: -9s;
  background: #26d97a;
  transform: translate3d(23vw, 52vw, 75px);
}

@keyframes particle-animation-46 {
  100% {
    transform: translate3d(36vw, 76vw, 12px);
  }
}
.particle:nth-child(46) {
  animation: particle-animation-46 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.88;
  animation-delay: -9.2s;
  background: #26d935;
  transform: translate3d(54vw, 52vw, 60px);
}

.square:nth-child(46) {
  animation: particle-animation-46 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.91;
  animation-delay: -9.2s;
  background: #5f26d9;
  transform: translate3d(65vw, 27vw, 66px);
}

@keyframes particle-animation-47 {
  100% {
    transform: translate3d(42vw, 35vw, 95px);
  }
}
.particle:nth-child(47) {
  animation: particle-animation-47 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.63;
  animation-delay: -9.4s;
  background: #71d926;
  transform: translate3d(5vw, 13vw, 41px);
}

.square:nth-child(47) {
  animation: particle-animation-47 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.69;
  animation-delay: -9.4s;
  background: #ac26d9;
  transform: translate3d(7vw, 57vw, 65px);
}

@keyframes particle-animation-48 {
  100% {
    transform: translate3d(50vw, 38vw, 79px);
  }
}
.particle:nth-child(48) {
  animation: particle-animation-48 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.37;
  animation-delay: -9.6s;
  background: #26c1d9;
  transform: translate3d(4vw, 1vw, 26px);
}

.square:nth-child(48) {
  animation: particle-animation-48 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.64;
  animation-delay: -9.6s;
  background: #d9269a;
  transform: translate3d(55vw, 11vw, 62px);
}

@keyframes particle-animation-49 {
  100% {
    transform: translate3d(29vw, 75vw, 98px);
  }
}
.particle:nth-child(49) {
  animation: particle-animation-49 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.04;
  animation-delay: -9.8s;
  background: #8226d9;
  transform: translate3d(88vw, 42vw, 47px);
}

.square:nth-child(49) {
  animation: particle-animation-49 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.94;
  animation-delay: -9.8s;
  background: #afd926;
  transform: translate3d(26vw, 82vw, 36px);
}

@keyframes particle-animation-50 {
  100% {
    transform: translate3d(29vw, 79vw, 92px);
  }
}
.particle:nth-child(50) {
  animation: particle-animation-50 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.89;
  animation-delay: -10s;
  background: #d94426;
  transform: translate3d(57vw, 17vw, 82px);
}

.square:nth-child(50) {
  animation: particle-animation-50 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.68;
  animation-delay: -10s;
  background: #2691d9;
  transform: translate3d(9vw, 61vw, 73px);
}

@keyframes particle-animation-51 {
  100% {
    transform: translate3d(33vw, 38vw, 78px);
  }
}
.particle:nth-child(51) {
  animation: particle-animation-51 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.15;
  animation-delay: -10.2s;
  background: #26d956;
  transform: translate3d(6vw, 30vw, 38px);
}

.square:nth-child(51) {
  animation: particle-animation-51 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.25;
  animation-delay: -10.2s;
  background: #50d926;
  transform: translate3d(9vw, 67vw, 3px);
}

@keyframes particle-animation-52 {
  100% {
    transform: translate3d(32vw, 90vw, 93px);
  }
}
.particle:nth-child(52) {
  animation: particle-animation-52 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.75;
  animation-delay: -10.4s;
  background: #2674d9;
  transform: translate3d(62vw, 45vw, 83px);
}

.square:nth-child(52) {
  animation: particle-animation-52 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.91;
  animation-delay: -10.4s;
  background: #26d98e;
  transform: translate3d(48vw, 84vw, 59px);
}

@keyframes particle-animation-53 {
  100% {
    transform: translate3d(69vw, 49vw, 91px);
  }
}
.particle:nth-child(53) {
  animation: particle-animation-53 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.35;
  animation-delay: -10.6s;
  background: #d96826;
  transform: translate3d(30vw, 16vw, 15px);
}

.square:nth-child(53) {
  animation: particle-animation-53 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.95;
  animation-delay: -10.6s;
  background: #d9ac26;
  transform: translate3d(55vw, 56vw, 30px);
}

@keyframes particle-animation-54 {
  100% {
    transform: translate3d(53vw, 4vw, 15px);
  }
}
.particle:nth-child(54) {
  animation: particle-animation-54 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.78;
  animation-delay: -10.8s;
  background: #d92697;
  transform: translate3d(79vw, 83vw, 82px);
}

.square:nth-child(54) {
  animation: particle-animation-54 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.62;
  animation-delay: -10.8s;
  background: #b826d9;
  transform: translate3d(33vw, 39vw, 59px);
}

@keyframes particle-animation-55 {
  100% {
    transform: translate3d(31vw, 70vw, 96px);
  }
}
.particle:nth-child(55) {
  animation: particle-animation-55 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.16;
  animation-delay: -11s;
  background: #62d926;
  transform: translate3d(53vw, 21vw, 97px);
}

.square:nth-child(55) {
  animation: particle-animation-55 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.54;
  animation-delay: -11s;
  background: #26d985;
  transform: translate3d(25vw, 41vw, 28px);
}

@keyframes particle-animation-56 {
  100% {
    transform: translate3d(15vw, 9vw, 86px);
  }
}
.particle:nth-child(56) {
  animation: particle-animation-56 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.14;
  animation-delay: -11.2s;
  background: #d9263b;
  transform: translate3d(84vw, 82vw, 38px);
}

.square:nth-child(56) {
  animation: particle-animation-56 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.89;
  animation-delay: -11.2s;
  background: #26d99a;
  transform: translate3d(27vw, 39vw, 21px);
}

@keyframes particle-animation-57 {
  100% {
    transform: translate3d(62vw, 80vw, 61px);
  }
}
.particle:nth-child(57) {
  animation: particle-animation-57 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.51;
  animation-delay: -11.4s;
  background: #26d6d9;
  transform: translate3d(51vw, 73vw, 81px);
}

.square:nth-child(57) {
  animation: particle-animation-57 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.71;
  animation-delay: -11.4s;
  background: #26d9c4;
  transform: translate3d(9vw, 29vw, 37px);
}

@keyframes particle-animation-58 {
  100% {
    transform: translate3d(1vw, 21vw, 21px);
  }
}
.particle:nth-child(58) {
  animation: particle-animation-58 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.56;
  animation-delay: -11.6s;
  background: #d326d9;
  transform: translate3d(11vw, 12vw, 99px);
}

.square:nth-child(58) {
  animation: particle-animation-58 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.7;
  animation-delay: -11.6s;
  background: #8026d9;
  transform: translate3d(76vw, 90vw, 49px);
}

@keyframes particle-animation-59 {
  100% {
    transform: translate3d(75vw, 64vw, 26px);
  }
}
.particle:nth-child(59) {
  animation: particle-animation-59 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.54;
  animation-delay: -11.8s;
  background: #26d962;
  transform: translate3d(12vw, 67vw, 62px);
}

.square:nth-child(59) {
  animation: particle-animation-59 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.55;
  animation-delay: -11.8s;
  background: #269dd9;
  transform: translate3d(2vw, 36vw, 76px);
}

@keyframes particle-animation-60 {
  100% {
    transform: translate3d(37vw, 55vw, 73px);
  }
}
.particle:nth-child(60) {
  animation: particle-animation-60 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.71;
  animation-delay: -12s;
  background: #4426d9;
  transform: translate3d(58vw, 52vw, 89px);
}

.square:nth-child(60) {
  animation: particle-animation-60 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.55;
  animation-delay: -12s;
  background: #26d94a;
  transform: translate3d(67vw, 76vw, 5px);
}

.particle {
  position: absolute;
  border-radius: 50%;
}

.square {
  position: absolute;
  width: 100px;
  height: 100px;
}

/*# sourceMappingURL=styles.css.map */
