h1 {
  font-family: "Raleway Dots", cursive;
  font-size: 50px;
}

#hello {
  margin-left: 50px;
  margin-top: 150px;
  font-family: "Raleway Dots", cursive;
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 0;
  color: #611adb;
  z-index: 9999;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(40vw, 36vw, 77px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.84;
  animation-delay: -0.2s;
  background: #2668d9;
  transform: translate3d(39vw, 28vw, 24px);
}

.square:nth-child(1) {
  animation: particle-animation-1 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.01;
  animation-delay: -0.2s;
  background: #26d9a0;
  transform: translate3d(62vw, 89vw, 30px);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(22vw, 36vw, 73px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.33;
  animation-delay: -0.4s;
  background: #af26d9;
  transform: translate3d(40vw, 82vw, 40px);
}

.square:nth-child(2) {
  animation: particle-animation-2 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.38;
  animation-delay: -0.4s;
  background: #7dd926;
  transform: translate3d(71vw, 27vw, 33px);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(8vw, 6vw, 37px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.07;
  animation-delay: -0.6s;
  background: #9dd926;
  transform: translate3d(87vw, 75vw, 45px);
}

.square:nth-child(3) {
  animation: particle-animation-3 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.37;
  animation-delay: -0.6s;
  background: #88d926;
  transform: translate3d(63vw, 24vw, 21px);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(28vw, 65vw, 10px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.84;
  animation-delay: -0.8s;
  background: #d9262c;
  transform: translate3d(25vw, 31vw, 29px);
}

.square:nth-child(4) {
  animation: particle-animation-4 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.58;
  animation-delay: -0.8s;
  background: #26d997;
  transform: translate3d(2vw, 52vw, 12px);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(41vw, 36vw, 86px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.22;
  animation-delay: -1s;
  background: #2635d9;
  transform: translate3d(16vw, 50vw, 70px);
}

.square:nth-child(5) {
  animation: particle-animation-5 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.3;
  animation-delay: -1s;
  background: #26d977;
  transform: translate3d(14vw, 89vw, 57px);
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(69vw, 71vw, 67px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.78;
  animation-delay: -1.2s;
  background: #d92644;
  transform: translate3d(45vw, 24vw, 1px);
}

.square:nth-child(6) {
  animation: particle-animation-6 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.9;
  animation-delay: -1.2s;
  background: #d92691;
  transform: translate3d(73vw, 82vw, 47px);
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(79vw, 50vw, 52px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.2;
  animation-delay: -1.4s;
  background: #264ad9;
  transform: translate3d(70vw, 61vw, 45px);
}

.square:nth-child(7) {
  animation: particle-animation-7 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.07;
  animation-delay: -1.4s;
  background: #bb26d9;
  transform: translate3d(21vw, 1vw, 95px);
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(33vw, 31vw, 68px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.88;
  animation-delay: -1.6s;
  background: #d94126;
  transform: translate3d(33vw, 11vw, 27px);
}

.square:nth-child(8) {
  animation: particle-animation-8 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.51;
  animation-delay: -1.6s;
  background: #26a0d9;
  transform: translate3d(28vw, 12vw, 84px);
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(47vw, 48vw, 22px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.36;
  animation-delay: -1.8s;
  background: #91d926;
  transform: translate3d(10vw, 51vw, 25px);
}

.square:nth-child(9) {
  animation: particle-animation-9 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.81;
  animation-delay: -1.8s;
  background: #2fd926;
  transform: translate3d(36vw, 57vw, 93px);
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(32vw, 86vw, 50px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.75;
  animation-delay: -2s;
  background: #9ad926;
  transform: translate3d(13vw, 16vw, 17px);
}

.square:nth-child(10) {
  animation: particle-animation-10 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.08;
  animation-delay: -2s;
  background: #8b26d9;
  transform: translate3d(44vw, 65vw, 87px);
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(3vw, 24vw, 10px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.8;
  animation-delay: -2.2s;
  background: #7a26d9;
  transform: translate3d(18vw, 5vw, 54px);
}

.square:nth-child(11) {
  animation: particle-animation-11 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.54;
  animation-delay: -2.2s;
  background: #26d9af;
  transform: translate3d(46vw, 80vw, 11px);
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(13vw, 30vw, 78px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.03;
  animation-delay: -2.4s;
  background: #266bd9;
  transform: translate3d(72vw, 24vw, 30px);
}

.square:nth-child(12) {
  animation: particle-animation-12 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.28;
  animation-delay: -2.4s;
  background: #6826d9;
  transform: translate3d(13vw, 73vw, 58px);
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(62vw, 74vw, 57px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.4;
  animation-delay: -2.6s;
  background: #2c26d9;
  transform: translate3d(40vw, 58vw, 63px);
}

.square:nth-child(13) {
  animation: particle-animation-13 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.52;
  animation-delay: -2.6s;
  background: #74d926;
  transform: translate3d(47vw, 10vw, 78px);
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(80vw, 4vw, 28px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.54;
  animation-delay: -2.8s;
  background: #4dd926;
  transform: translate3d(5vw, 5vw, 24px);
}

.square:nth-child(14) {
  animation: particle-animation-14 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.29;
  animation-delay: -2.8s;
  background: #a9d926;
  transform: translate3d(69vw, 11vw, 6px);
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(29vw, 49vw, 68px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.01;
  animation-delay: -3s;
  background: #af26d9;
  transform: translate3d(78vw, 17vw, 33px);
}

.square:nth-child(15) {
  animation: particle-animation-15 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.05;
  animation-delay: -3s;
  background: #26d92f;
  transform: translate3d(82vw, 66vw, 64px);
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(41vw, 48vw, 72px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.53;
  animation-delay: -3.2s;
  background: #26d965;
  transform: translate3d(32vw, 73vw, 27px);
}

.square:nth-child(16) {
  animation: particle-animation-16 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.96;
  animation-delay: -3.2s;
  background: #62d926;
  transform: translate3d(41vw, 72vw, 44px);
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(10vw, 20vw, 45px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.51;
  animation-delay: -3.4s;
  background: #d92682;
  transform: translate3d(65vw, 26vw, 9px);
}

.square:nth-child(17) {
  animation: particle-animation-17 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.05;
  animation-delay: -3.4s;
  background: #d9263e;
  transform: translate3d(17vw, 43vw, 37px);
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(37vw, 25vw, 65px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.71;
  animation-delay: -3.6s;
  background: #d92674;
  transform: translate3d(12vw, 36vw, 79px);
}

.square:nth-child(18) {
  animation: particle-animation-18 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.37;
  animation-delay: -3.6s;
  background: #2659d9;
  transform: translate3d(6vw, 61vw, 79px);
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(16vw, 85vw, 2px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.26;
  animation-delay: -3.8s;
  background: #d98b26;
  transform: translate3d(63vw, 63vw, 2px);
}

.square:nth-child(19) {
  animation: particle-animation-19 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.86;
  animation-delay: -3.8s;
  background: #26d941;
  transform: translate3d(69vw, 12vw, 46px);
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(2vw, 12vw, 11px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.91;
  animation-delay: -4s;
  background: #d92685;
  transform: translate3d(64vw, 87vw, 54px);
}

.square:nth-child(20) {
  animation: particle-animation-20 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.98;
  animation-delay: -4s;
  background: #5026d9;
  transform: translate3d(63vw, 55vw, 79px);
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(79vw, 12vw, 56px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.04;
  animation-delay: -4.2s;
  background: #26b8d9;
  transform: translate3d(44vw, 57vw, 33px);
}

.square:nth-child(21) {
  animation: particle-animation-21 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.64;
  animation-delay: -4.2s;
  background: #2694d9;
  transform: translate3d(26vw, 39vw, 8px);
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(40vw, 72vw, 66px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.32;
  animation-delay: -4.4s;
  background: #d98e26;
  transform: translate3d(39vw, 57vw, 58px);
}

.square:nth-child(22) {
  animation: particle-animation-22 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.12;
  animation-delay: -4.4s;
  background: #2647d9;
  transform: translate3d(28vw, 67vw, 84px);
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(17vw, 89vw, 3px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.26;
  animation-delay: -4.6s;
  background: #afd926;
  transform: translate3d(71vw, 38vw, 58px);
}

.square:nth-child(23) {
  animation: particle-animation-23 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.59;
  animation-delay: -4.6s;
  background: #a626d9;
  transform: translate3d(69vw, 32vw, 30px);
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(17vw, 24vw, 41px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.34;
  animation-delay: -4.8s;
  background: #8bd926;
  transform: translate3d(86vw, 72vw, 41px);
}

.square:nth-child(24) {
  animation: particle-animation-24 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.72;
  animation-delay: -4.8s;
  background: #d9c426;
  transform: translate3d(36vw, 52vw, 96px);
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(59vw, 60vw, 76px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.01;
  animation-delay: -5s;
  background: #d92671;
  transform: translate3d(6vw, 78vw, 59px);
}

.square:nth-child(25) {
  animation: particle-animation-25 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.59;
  animation-delay: -5s;
  background: #26d92f;
  transform: translate3d(45vw, 71vw, 34px);
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(70vw, 17vw, 55px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.82;
  animation-delay: -5.2s;
  background: #26cad9;
  transform: translate3d(68vw, 87vw, 89px);
}

.square:nth-child(26) {
  animation: particle-animation-26 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.22;
  animation-delay: -5.2s;
  background: #d92644;
  transform: translate3d(66vw, 65vw, 49px);
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(32vw, 90vw, 15px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.31;
  animation-delay: -5.4s;
  background: #26d926;
  transform: translate3d(83vw, 22vw, 1px);
}

.square:nth-child(27) {
  animation: particle-animation-27 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.91;
  animation-delay: -5.4s;
  background: #d9266e;
  transform: translate3d(14vw, 35vw, 38px);
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(28vw, 83vw, 73px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.8;
  animation-delay: -5.6s;
  background: #d9c726;
  transform: translate3d(17vw, 52vw, 40px);
}

.square:nth-child(28) {
  animation: particle-animation-28 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.77;
  animation-delay: -5.6s;
  background: #6526d9;
  transform: translate3d(51vw, 67vw, 78px);
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(42vw, 89vw, 25px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.45;
  animation-delay: -5.8s;
  background: #9a26d9;
  transform: translate3d(54vw, 57vw, 57px);
}

.square:nth-child(29) {
  animation: particle-animation-29 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.64;
  animation-delay: -5.8s;
  background: #d9265c;
  transform: translate3d(20vw, 80vw, 29px);
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(89vw, 70vw, 98px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.87;
  animation-delay: -6s;
  background: #26d965;
  transform: translate3d(28vw, 30vw, 32px);
}

.square:nth-child(30) {
  animation: particle-animation-30 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.77;
  animation-delay: -6s;
  background: #d926a3;
  transform: translate3d(16vw, 15vw, 69px);
}

@keyframes particle-animation-31 {
  100% {
    transform: translate3d(76vw, 27vw, 10px);
  }
}
.particle:nth-child(31) {
  animation: particle-animation-31 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.26;
  animation-delay: -6.2s;
  background: #2641d9;
  transform: translate3d(4vw, 28vw, 100px);
}

.square:nth-child(31) {
  animation: particle-animation-31 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.77;
  animation-delay: -6.2s;
  background: #d92626;
  transform: translate3d(43vw, 62vw, 19px);
}

@keyframes particle-animation-32 {
  100% {
    transform: translate3d(15vw, 21vw, 1px);
  }
}
.particle:nth-child(32) {
  animation: particle-animation-32 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.01;
  animation-delay: -6.4s;
  background: #a626d9;
  transform: translate3d(85vw, 69vw, 20px);
}

.square:nth-child(32) {
  animation: particle-animation-32 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.67;
  animation-delay: -6.4s;
  background: #26d0d9;
  transform: translate3d(36vw, 6vw, 22px);
}

@keyframes particle-animation-33 {
  100% {
    transform: translate3d(7vw, 4vw, 19px);
  }
}
.particle:nth-child(33) {
  animation: particle-animation-33 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.9;
  animation-delay: -6.6s;
  background: #d98e26;
  transform: translate3d(82vw, 25vw, 70px);
}

.square:nth-child(33) {
  animation: particle-animation-33 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.36;
  animation-delay: -6.6s;
  background: #d926a0;
  transform: translate3d(46vw, 40vw, 58px);
}

@keyframes particle-animation-34 {
  100% {
    transform: translate3d(54vw, 7vw, 94px);
  }
}
.particle:nth-child(34) {
  animation: particle-animation-34 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.27;
  animation-delay: -6.8s;
  background: #d926ac;
  transform: translate3d(19vw, 69vw, 27px);
}

.square:nth-child(34) {
  animation: particle-animation-34 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.58;
  animation-delay: -6.8s;
  background: #d96b26;
  transform: translate3d(63vw, 40vw, 62px);
}

@keyframes particle-animation-35 {
  100% {
    transform: translate3d(36vw, 21vw, 11px);
  }
}
.particle:nth-child(35) {
  animation: particle-animation-35 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.11;
  animation-delay: -7s;
  background: #ac26d9;
  transform: translate3d(68vw, 15vw, 38px);
}

.square:nth-child(35) {
  animation: particle-animation-35 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.02;
  animation-delay: -7s;
  background: #6526d9;
  transform: translate3d(34vw, 86vw, 90px);
}

@keyframes particle-animation-36 {
  100% {
    transform: translate3d(66vw, 47vw, 65px);
  }
}
.particle:nth-child(36) {
  animation: particle-animation-36 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.65;
  animation-delay: -7.2s;
  background: #d926a6;
  transform: translate3d(68vw, 40vw, 22px);
}

.square:nth-child(36) {
  animation: particle-animation-36 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.95;
  animation-delay: -7.2s;
  background: #26d980;
  transform: translate3d(32vw, 7vw, 9px);
}

@keyframes particle-animation-37 {
  100% {
    transform: translate3d(9vw, 48vw, 13px);
  }
}
.particle:nth-child(37) {
  animation: particle-animation-37 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.77;
  animation-delay: -7.4s;
  background: #d92632;
  transform: translate3d(61vw, 43vw, 30px);
}

.square:nth-child(37) {
  animation: particle-animation-37 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.38;
  animation-delay: -7.4s;
  background: #d926a9;
  transform: translate3d(88vw, 50vw, 95px);
}

@keyframes particle-animation-38 {
  100% {
    transform: translate3d(46vw, 25vw, 54px);
  }
}
.particle:nth-child(38) {
  animation: particle-animation-38 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.42;
  animation-delay: -7.6s;
  background: #afd926;
  transform: translate3d(70vw, 31vw, 48px);
}

.square:nth-child(38) {
  animation: particle-animation-38 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.09;
  animation-delay: -7.6s;
  background: #d9b526;
  transform: translate3d(86vw, 7vw, 75px);
}

@keyframes particle-animation-39 {
  100% {
    transform: translate3d(27vw, 53vw, 90px);
  }
}
.particle:nth-child(39) {
  animation: particle-animation-39 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.38;
  animation-delay: -7.8s;
  background: #9426d9;
  transform: translate3d(15vw, 40vw, 82px);
}

.square:nth-child(39) {
  animation: particle-animation-39 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.6;
  animation-delay: -7.8s;
  background: #41d926;
  transform: translate3d(12vw, 36vw, 88px);
}

@keyframes particle-animation-40 {
  100% {
    transform: translate3d(16vw, 82vw, 65px);
  }
}
.particle:nth-child(40) {
  animation: particle-animation-40 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.1;
  animation-delay: -8s;
  background: #2c26d9;
  transform: translate3d(59vw, 63vw, 68px);
}

.square:nth-child(40) {
  animation: particle-animation-40 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.02;
  animation-delay: -8s;
  background: #d92677;
  transform: translate3d(39vw, 76vw, 7px);
}

@keyframes particle-animation-41 {
  100% {
    transform: translate3d(45vw, 78vw, 85px);
  }
}
.particle:nth-child(41) {
  animation: particle-animation-41 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.48;
  animation-delay: -8.2s;
  background: #2f26d9;
  transform: translate3d(47vw, 15vw, 78px);
}

.square:nth-child(41) {
  animation: particle-animation-41 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.53;
  animation-delay: -8.2s;
  background: #cad926;
  transform: translate3d(60vw, 81vw, 14px);
}

@keyframes particle-animation-42 {
  100% {
    transform: translate3d(77vw, 18vw, 40px);
  }
}
.particle:nth-child(42) {
  animation: particle-animation-42 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.12;
  animation-delay: -8.4s;
  background: #2671d9;
  transform: translate3d(72vw, 83vw, 99px);
}

.square:nth-child(42) {
  animation: particle-animation-42 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.66;
  animation-delay: -8.4s;
  background: #d9c726;
  transform: translate3d(40vw, 57vw, 5px);
}

@keyframes particle-animation-43 {
  100% {
    transform: translate3d(85vw, 12vw, 23px);
  }
}
.particle:nth-child(43) {
  animation: particle-animation-43 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.34;
  animation-delay: -8.6s;
  background: #a9d926;
  transform: translate3d(1vw, 33vw, 46px);
}

.square:nth-child(43) {
  animation: particle-animation-43 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.65;
  animation-delay: -8.6s;
  background: #26d962;
  transform: translate3d(67vw, 86vw, 61px);
}

@keyframes particle-animation-44 {
  100% {
    transform: translate3d(88vw, 8vw, 76px);
  }
}
.particle:nth-child(44) {
  animation: particle-animation-44 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.81;
  animation-delay: -8.8s;
  background: #26d9cd;
  transform: translate3d(80vw, 30vw, 71px);
}

.square:nth-child(44) {
  animation: particle-animation-44 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.78;
  animation-delay: -8.8s;
  background: #9a26d9;
  transform: translate3d(49vw, 38vw, 12px);
}

@keyframes particle-animation-45 {
  100% {
    transform: translate3d(37vw, 11vw, 4px);
  }
}
.particle:nth-child(45) {
  animation: particle-animation-45 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.12;
  animation-delay: -9s;
  background: #d92694;
  transform: translate3d(70vw, 25vw, 36px);
}

.square:nth-child(45) {
  animation: particle-animation-45 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.73;
  animation-delay: -9s;
  background: #d926a6;
  transform: translate3d(35vw, 79vw, 12px);
}

@keyframes particle-animation-46 {
  100% {
    transform: translate3d(3vw, 19vw, 26px);
  }
}
.particle:nth-child(46) {
  animation: particle-animation-46 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.77;
  animation-delay: -9.2s;
  background: #d96826;
  transform: translate3d(83vw, 42vw, 91px);
}

.square:nth-child(46) {
  animation: particle-animation-46 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.02;
  animation-delay: -9.2s;
  background: #d9269a;
  transform: translate3d(39vw, 29vw, 58px);
}

@keyframes particle-animation-47 {
  100% {
    transform: translate3d(86vw, 76vw, 56px);
  }
}
.particle:nth-child(47) {
  animation: particle-animation-47 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.24;
  animation-delay: -9.4s;
  background: #d9265c;
  transform: translate3d(85vw, 13vw, 92px);
}

.square:nth-child(47) {
  animation: particle-animation-47 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.9;
  animation-delay: -9.4s;
  background: #d9266e;
  transform: translate3d(90vw, 62vw, 56px);
}

@keyframes particle-animation-48 {
  100% {
    transform: translate3d(42vw, 18vw, 6px);
  }
}
.particle:nth-child(48) {
  animation: particle-animation-48 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.72;
  animation-delay: -9.6s;
  background: #d9264a;
  transform: translate3d(49vw, 86vw, 90px);
}

.square:nth-child(48) {
  animation: particle-animation-48 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.99;
  animation-delay: -9.6s;
  background: #62d926;
  transform: translate3d(41vw, 54vw, 99px);
}

@keyframes particle-animation-49 {
  100% {
    transform: translate3d(72vw, 75vw, 7px);
  }
}
.particle:nth-child(49) {
  animation: particle-animation-49 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.19;
  animation-delay: -9.8s;
  background: #26d96e;
  transform: translate3d(78vw, 72vw, 86px);
}

.square:nth-child(49) {
  animation: particle-animation-49 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.5;
  animation-delay: -9.8s;
  background: #6226d9;
  transform: translate3d(44vw, 31vw, 62px);
}

@keyframes particle-animation-50 {
  100% {
    transform: translate3d(6vw, 5vw, 74px);
  }
}
.particle:nth-child(50) {
  animation: particle-animation-50 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.04;
  animation-delay: -10s;
  background: #d95f26;
  transform: translate3d(31vw, 79vw, 39px);
}

.square:nth-child(50) {
  animation: particle-animation-50 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.93;
  animation-delay: -10s;
  background: #26d95f;
  transform: translate3d(64vw, 49vw, 10px);
}

@keyframes particle-animation-51 {
  100% {
    transform: translate3d(37vw, 61vw, 72px);
  }
}
.particle:nth-child(51) {
  animation: particle-animation-51 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.23;
  animation-delay: -10.2s;
  background: #26d93e;
  transform: translate3d(13vw, 72vw, 54px);
}

.square:nth-child(51) {
  animation: particle-animation-51 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.53;
  animation-delay: -10.2s;
  background: #d9264a;
  transform: translate3d(88vw, 24vw, 89px);
}

@keyframes particle-animation-52 {
  100% {
    transform: translate3d(58vw, 21vw, 86px);
  }
}
.particle:nth-child(52) {
  animation: particle-animation-52 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.76;
  animation-delay: -10.4s;
  background: #2656d9;
  transform: translate3d(32vw, 89vw, 85px);
}

.square:nth-child(52) {
  animation: particle-animation-52 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.8;
  animation-delay: -10.4s;
  background: #d92668;
  transform: translate3d(45vw, 38vw, 31px);
}

@keyframes particle-animation-53 {
  100% {
    transform: translate3d(55vw, 9vw, 48px);
  }
}
.particle:nth-child(53) {
  animation: particle-animation-53 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.69;
  animation-delay: -10.6s;
  background: #2668d9;
  transform: translate3d(35vw, 85vw, 6px);
}

.square:nth-child(53) {
  animation: particle-animation-53 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.21;
  animation-delay: -10.6s;
  background: #d94426;
  transform: translate3d(22vw, 32vw, 29px);
}

@keyframes particle-animation-54 {
  100% {
    transform: translate3d(27vw, 84vw, 49px);
  }
}
.particle:nth-child(54) {
  animation: particle-animation-54 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.11;
  animation-delay: -10.8s;
  background: #26a6d9;
  transform: translate3d(78vw, 78vw, 49px);
}

.square:nth-child(54) {
  animation: particle-animation-54 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 1;
  animation-delay: -10.8s;
  background: #d94a26;
  transform: translate3d(45vw, 50vw, 19px);
}

@keyframes particle-animation-55 {
  100% {
    transform: translate3d(82vw, 14vw, 93px);
  }
}
.particle:nth-child(55) {
  animation: particle-animation-55 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.64;
  animation-delay: -11s;
  background: #38d926;
  transform: translate3d(1vw, 73vw, 95px);
}

.square:nth-child(55) {
  animation: particle-animation-55 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.87;
  animation-delay: -11s;
  background: #d9d026;
  transform: translate3d(72vw, 54vw, 74px);
}

@keyframes particle-animation-56 {
  100% {
    transform: translate3d(29vw, 18vw, 7px);
  }
}
.particle:nth-child(56) {
  animation: particle-animation-56 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.72;
  animation-delay: -11.2s;
  background: #4d26d9;
  transform: translate3d(41vw, 39vw, 74px);
}

.square:nth-child(56) {
  animation: particle-animation-56 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.91;
  animation-delay: -11.2s;
  background: #4ad926;
  transform: translate3d(12vw, 51vw, 27px);
}

@keyframes particle-animation-57 {
  100% {
    transform: translate3d(26vw, 36vw, 54px);
  }
}
.particle:nth-child(57) {
  animation: particle-animation-57 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.53;
  animation-delay: -11.4s;
  background: #26d9ac;
  transform: translate3d(8vw, 66vw, 26px);
}

.square:nth-child(57) {
  animation: particle-animation-57 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.93;
  animation-delay: -11.4s;
  background: #d99a26;
  transform: translate3d(38vw, 83vw, 38px);
}

@keyframes particle-animation-58 {
  100% {
    transform: translate3d(48vw, 48vw, 61px);
  }
}
.particle:nth-child(58) {
  animation: particle-animation-58 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.98;
  animation-delay: -11.6s;
  background: #d626d9;
  transform: translate3d(34vw, 78vw, 77px);
}

.square:nth-child(58) {
  animation: particle-animation-58 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.47;
  animation-delay: -11.6s;
  background: #d92685;
  transform: translate3d(87vw, 21vw, 55px);
}

@keyframes particle-animation-59 {
  100% {
    transform: translate3d(6vw, 36vw, 29px);
  }
}
.particle:nth-child(59) {
  animation: particle-animation-59 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.97;
  animation-delay: -11.8s;
  background: #d92688;
  transform: translate3d(46vw, 4vw, 11px);
}

.square:nth-child(59) {
  animation: particle-animation-59 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.91;
  animation-delay: -11.8s;
  background: #82d926;
  transform: translate3d(87vw, 47vw, 13px);
}

@keyframes particle-animation-60 {
  100% {
    transform: translate3d(72vw, 67vw, 54px);
  }
}
.particle:nth-child(60) {
  animation: particle-animation-60 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.48;
  animation-delay: -12s;
  background: #26d9ca;
  transform: translate3d(49vw, 27vw, 47px);
}

.square:nth-child(60) {
  animation: particle-animation-60 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.46;
  animation-delay: -12s;
  background: #3826d9;
  transform: translate3d(28vw, 41vw, 58px);
}

.particle {
  position: absolute;
  border-radius: 50%;
}

.square {
  position: absolute;
  width: 100px;
  height: 100px;
}

/*# sourceMappingURL=styles.css.map */
